@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@theme {
  --color-primary: #4A90E2;  /* primary accent */
  /* --color-primary-hover: #2563eb;   */
  --color-secondary: #FACC15;    
  --color-success: #10B981;  
  --color-pending: #F97316;
  --color-wrong: #DC2626;
  --color-purple: #8B5CF6;
  --color-bg: #fff;     /*base background*/
  /* --color-bg-hover: #27344a;      */
  --color-primary-surface: #F6F6F6; 
  --color-secondary-surface: #E7EAE5;     /* secondary surface */
  --color-primary-text: #100E09;         /* primary text */
  --color-secondary-text: #757575;   /* secondary text */
  /* --color-muted-hover: #7B8794;   */
  --color-muted: #e1e1e1;     /* borders and dividers */
}

@layer components {
  .input-field {
    @apply pt-2.5 pb-2.5 pl-5 pr-5 outline-none bg-primary-surface text-primary-text text-base rounded-full
  }
  .click-btn {
    @apply p-2.5 text-bg text-base bg-primary rounded-lg cursor-pointer hover:bg-primary
  }
  .quit-btn {
    @apply pr-2.5 pl-2.5 text-base text-secondary-text cursor-pointer
  }
  .noun {
    @apply bg-primary-surface text-primary p-1 rounded-lg
  }
  .verb {
    @apply bg-primary-surface text-success p-1 rounded-lg
  }
  .adjective {
    @apply bg-primary-surface text-pending p-1 rounded-lg
  }
  .adverb {
    @apply bg-primary-surface text-secondary p-1 rounded-lg
  }
  .phverb {
    @apply bg-primary-surface text-purple p-1 rounded-lg
  }
  .idiom {
    @apply bg-primary-surface text-purple p-1 rounded-lg
  }
}