@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.main 
{
  height: 100vh;
}
.login-section 
{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.login-section .login-container 
{
  background-color: #fff;
  padding: 60px;
  border-radius: 0.5em;

  position: relative;
}
.login-section .login-container h1
{
  color: #333;
  /* font-size: 40px; */
  text-align: center;
  margin-bottom: 20px;

}
.login-section .login-container  button 
{
  display: block;
  background-color: #fff;
  border: 2px solid #dadce0;
  color: #333;
  padding: 10px 20px;
}
.login-section .login-container .login-options button 
{
  width: 280px;
}
.login-section .login-container button.quitLogin 
{
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
}
.login-section .login-container button:hover 
{
  background-color: #f5f5f5;
}
.login-section .login-container button img 
{
  width: 30px;
  user-select: none;
}
.login-options
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.header 
{
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: #000;
  display: flex;
  border-bottom: 1px solid #dadce0;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header .account-section button 
{
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.content 
{
  display: flex;
  height: calc(100vh - 60px);
  width: 100%;
}
.content .sidebar 
{
  width: 20%;
  border-right: 1px solid #dadce0;
}
.content .sidebar ul li 
{
  padding: 15px;
  cursor: pointer;
  color: #333;
  font-size: 23px;
  /* border: 1px solid #dadce0; */
  border-radius: 0.5em;
  margin-bottom: 10px;
}
.content .sidebar ul li .icon 
{
  /* margin-right: 10px; */
  width: 50px;
}
.main-content
{
  width: 100%;
}
.main-content .vocabulary-section
{
  height: 100%;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.main-content .vocabulary-section .add-folder-btn 
{
  font-size: 20px;
  margin: 20px 0;
  padding: 20px;
  border-radius: 0.5em;
  width: 200px;
}
.vocabulary-section .search-folder 
{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.vocabulary-section .search-folder .search-field
{
  position: relative;
}
.vocabulary-section .search-folder .search-field .search-icon
{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #aaa
}
.vocabulary-section .search-folder .search-field input 
{
  padding: 10px 10px 10px 40px;
  width: 300px;
}
.vocabulary-section .search-folder .sort-btn
{
  margin-left: 10px;
  padding: 10px;
  color: #333;
  border-radius: 0.5em;
  background-color: #eee;
  cursor: pointer;
}
.create-folder-section
{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.create-folder-field
{
  width: 400px;
  background-color: #fff; 
  padding: 20px;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.create-folder-field h3 
{
  margin-bottom: 10px;
}
.create-folder-field input 
{
  margin-bottom: 10px;
}
.create-folder-field .close-create-folder-btn 
{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}
.create-folder-field .close-create-folder-btn:hover 
{
  background-color: #f5f5f5;
}

.folder-list 
{
  display: inline-block;
  width: 100%;
  max-height: 100%;
  /* overflow-y: scroll; */

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px;
}

.folder-list .folder 
{
  min-width: 300px;
  padding: 20px;
  border-radius: 0.5em;
  border: 1px solid #dadce0;
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.folder-list .folder .folder-icon 
{
  font-size: 30px;
}
.folder-list .folder h2 
{
  color: #222;
  font-size: 24px;
  margin: 10px 0;
}
.folder-list .folder p 
{
  color: #666;
  font-size: 16px;
}
.folder-list .folder .more 
{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #333;

  display: none;
}
.folder-list .folder:hover
{
  background-color: #f5f5f5;
}
.folder-list .folder:hover .more 
{
  display: flex;
}
/* .folder-list .folder:hover .more-options 
{
  display: none;
} */
.folder-list .folder:hover .more:hover 
{
  background-color: #f5f5f5;
  cursor: pointer;
}
.folder-list .folder .more .more-options
{
  position: absolute;
  top: 20px;
  right: -10px;
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
  border-radius: 0.5em;
  padding: 10px;
  display: none;
  z-index: 1;
}
.folder-list .folder .more .more-options button 
{
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 0.5em;
  background-color: #fff;
  color: #333;
  text-align: left;
}
.folder-list .folder .more .more-options button.delete-folder-btn
{
  color: #ff0000;
}
.folder-list .folder .more .more-options button:hover 
{
  background-color: #f5f5f5;
  cursor: pointer;
}
.folder-list .folder .more:hover .more-options
{
  display: block;
}

.ask-to-delete-section 
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.ask-to-delete-section .ask-to-delete 
{
  background-color: #fff;
  padding: 20px;
  border-radius: 0.5em;
}
.ask-to-delete-section .ask-to-delete h3 
{
  margin-bottom: 20px;
  color: #333;
}
.ask-to-delete-section .ask-to-delete .options 
{
  display: flex;
  justify-content: space-around;
}
.ask-to-delete-section .ask-to-delete .options button 
{
  border: 1px solid #ff0000;
  background-color: #fff;
  color: #ff0000;
}
.ask-to-delete-section .ask-to-delete .options button:hover 
{
  background-color: #f5f5f5;
}
.ask-to-delete-section .ask-to-delete .options .deleteFolderBtn
{
  background-color: #ff0000;
  color: #fff;
}
.ask-to-delete-section .ask-to-delete .options .deleteFolderBtn:hover 
{
  background-color: #cc0000;
  border: 1px solid #cc0000;
}

.rename-folder-section 
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.rename-folder
{
  background-color: #fff;
  padding: 20px;
  border-radius: 0.5em;
}
.rename-folder h3 
{
  color: #333;
}
.rename-folder input 
{
  margin: 20px 0;
  padding: 15px 20px;
}

input, button
{
  padding: 10px;
  border-radius: 0.5em;
  background-color: #eee;
  outline:none;
  border: none;
  display: block;
}
input[type="text"]:hover
{
  background-color: #e0e0e0;
}
button 
{
  cursor: pointer;
  background-color: #333;
  color: #fff;
}
ul 
{
  padding: 10px;
}
.word-section li 
{
  width: 100%;
  list-style-type: none;
  color: #333;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 0.5em;
  margin-bottom: 10px;
  border: 1px solid #dadce0;
  position: relative;


}
.word-section li 
{
  white-space: nowrap;
  overflow: hidden;
}
li:hover 
{
  cursor: pointer;
  background-color: #f5f5f5;
}
.show 
{
  display: block;
}
.word-section 
{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #fff;
}
.word-section .word-section-right 
.word-section .word-section-right.empty 
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.word-section .word-section-right ul 
{
  padding: 0;
}
.word-section .word-section-right p.noWords 
{
  font-size: 18px;
  color: #aaa;
  text-align: center;
  margin-top: 20px;
}
.word-section .word-section-right .searchBox-section
{
  position: relative;
  width: 100%;
}
.word-section .word-section-right .searchBox-section input 
{
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-radius: 0.5em;
  margin-bottom: 10px;
}
.word-section .word-section-right .searchBox-section .searchIcon
{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
}


.word-section ul
{
  max-height: 500px;
  overflow-y: auto;
}
.learn-section 
{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-section .quitLearnSectionBtn 
{
  position: absolute;
  top: 10px;
  left: 10px;
}
.learn-section .openMatchingBtn
{
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-list 
{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.card-list .card-number 
{
  margin: 20px 0;
}

.card-list .nav-btns
{
  margin-top: 20px;
  width: 200px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card-list .prev-btn
{
  position: absolute;
  left: 0;
}
.card-list .next-btn
{
  position: absolute;
  right: 0;
}
.card-list .next-btn.disabled,
.card-list .prev-btn.disabled 
{
  background-color: #555;
}
.card-list .next-btn.disabled:hover,
.card-list .prev-btn.disabled:hover 
{
  cursor: not-allowed;
  background-color: #555;
}
.card-list .prev-btn:hover, .card-list .next-btn:hover
{
  cursor: pointer;
  background-color: #444;
}


.card
{
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 0.5em;
  border: 1px solid #dadce0;
  margin: 0 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card button 
{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card p 
{
  font-size: 30px;
  text-align: center;
}


.learnBtn 
{
  margin-top: 10px;
  background-color: #333;
  color: #fff;
}
.empty 
{
  padding: 30px 0;
  color: #aaa
}
.deleteBtn 
{
  font-size: 16px;
  color: red;
  background-color: #fff;
  border: 1px solid #dadce0;
  position: absolute;
  right: 10px;
  top: 10px;
}
.deleteBtn:hover 
{
  cursor: pointer;
  background-color: #f5f5f5;
}



.word-section-header 
{
  padding: 10px;
  box-shadow: 0 0 5px #ddd;
}
.word-section-header button 
{
  margin: 0;
}
.word-section-body
{
  width: 100%;
  display: flex;
}
.word-section-left, .word-section-right {
  width: 50%;
  height: 100vh;
  padding: 20px;
}
.word-section-left 
{
  border-right: 1px solid #ddd;
}
.word-section-left input 
{
  width: 100%;
  margin-bottom: 10px;
}
.meaning-section 
{
  position: relative;
}
.meaning-list-section 
{
  position: absolute;
  top: 42px;
  border-radius: 0.5em;
  border: 1px solid #dadce0;
  width: 100%;
  background-color: #fff;
  padding: 5px;

  display: flex;
}
.meaning-list-section .meaning-list 
{
  background-color: #fff;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}
.meaning-list-section .meaning-list .meaning
{
  border: none;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-size: 18px;
  transition: none;
}
.meaning-list-section .meaning-list .meaning:hover 
{
  cursor: pointer;
  background-color: #f5f5f5;
}
.meaning-section .quit-meaning-list-btn
{
  background-color: #fff;
  color: #000;
  margin: 0 0 0 5px;
  /* padding: 5px; */
  display: inline-block;
  line-height: 30px;
  width: 30px;
  text-align: center;
}
.meaning-section .quit-meaning-list-btn:hover 
{
  cursor: pointer;
  background-color: #f5f5f5;
}

/* matching section */
.matching-section 
{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #fff;
}
.matching-section .matching-header 
{
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px #ddd;
}
.matching-section .matching-header button 
{
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
}
.matching-section .matching-content
{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
  padding: 20px;
}

.matching-list 
{
  display: flex;
  flex-wrap: wrap;
}
.matching-list .matching-word 
{
  /* width: 300px;
  height: 300px; */
  background-color: #fff; 
  padding: 60px 50px;
  border-radius: 0.5em;
  border: 1px solid #dadce0;
  text-align: center;
  margin: 0 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.matching-word.clicked
{
  background-color: #ccc;
  color: #000;
}
.matching-word.matched 
{
  background-color: #d2ffcb;
  border: 1px solid #43e477;
  color: #000;
}
.matching-word.notMatched
{
  background-color: #ffcbcb;
  border: 1px solid #ff0000;
  color: #000;
}
.matching-word.notMatched:hover 
{
  cursor: pointer;
  background-color: #faa8a8;
}

.matching-word:hover 
{
  cursor: pointer;
  background-color: #f5f5f5;
}
.matching-word.clicked:hover 
{
  cursor: cursor;
  background-color: #bbb;
}
.matching-word.matched:hover 
{
  background-color: #aaf39f;
  color: #000;
}

.result-section-container
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-section-container .result-section 
{
  width: 400px;
  /* height: 300px; */
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 0.5em;
  /* box-shadow: 0 0 10px #ddd; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-section-container .result-section h3 
{
  /* margin-bottom: 20px; */
}
.result-section-container .result-section p 
{
  font-size: 45px;
  margin: 40px 0;
}
.result-section-container .result-section .matchingBtns
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.result-section-container .result-section .matchingBtns button
{
  margin: 0;
}


/* filling section*/
.filling-section 
{
  /* width: 100%; */
  /* height: 100vh; */
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.quitFillingBtn 
{
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}

.filling-header
{
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.filling-content 
{
  overflow-y: scroll;
  height: calc(100vh - 61px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.filling-card 
{
  padding: 40px 0;
  width: 80%;
}
.filling-card p 
{
  margin-bottom: 20px;
  line-height: 1.8;
  text-align: center;
}
.filling-card .gap 
{
  border-radius: 0.5em;
  padding: 0 5px;
  background-color: #f5f5f5;
  display: inline-block;
  min-width: 100px;
  margin-bottom: -8px;
  text-align: center;
  line-height: 30px;
  height: 30px;
}
.filling-card .gap.right
{
  background-color: #43e477;
  min-width: 0;
}
.filling-card .gap.wrong 
{
  background-color: #faa8a8;
  min-width: 0;
}

.filling-options 
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filling-options .filling-option input 
{
  display: none;
}
.filling-options .filling-option 
{
  display: flex;
  width: 30%;
}
.filling-options .filling-option .label:hover 
{
  background-color: #ccc;
  cursor: pointer;
}
.filling-options .filling-option .label 
{
  width: 100%;
  padding: 10px 30px;
  border: 2px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 10px;
  user-select: none;
  text-align: center;
  background-color: #fff;
}
input[type='radio']:checked + .label.right
{
  background-color:#43e477
  
}
input[type='radio']:checked + .label.wrong 
{
  background-color: #faa8a8;

}
.filling-answer-explain 
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  border: 2px solid #dadce0;
  padding: 15px;
  border-radius: 0.5em;
}
.filling-answer-explain.right 
{
  background-color: #43e477;
}
.filling-answer-explain.wrong 
{
  background-color: #faa8a8;
}
.filling-answer-explain .mark-ans 
{
  text-decoration: underline;
  font-weight: bold;
}
.filling-answer-explain h3 
{
  text-align: center;
}
.filling-answer-explain p
{
  margin: 10px 0;
  font-size: 18px;
}
.filling-answer-explain button 
{
  float: right;
  margin: 0;
}

/* loader */
.loader-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-section .loader-container 
{
  background-color: #fff;
  padding: 40px;
  border-radius: 0.5em;
}
.loader-section .loader-container .loader 
{
  border: 8px solid #e3e3e3;
  border-radius: 50%;
  border-top: 8px solid #888;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 0.75s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progess-bar 
{
  width: 300px;
  border-radius: 10px;
  height: 20px;
  background-color: #e3e3e3;
}
.progess-bar .progress 
{
  height: 20px;
  border-radius: 10px;
  background-color: #43e477;
  width: 0;
  transition: width 0.5s ease-in-out;
}
.progress.low 
{
  background-color: #faa8a8;
}
.progress.medium 
{
  background-color: orange;
}
.progress.high
{
  background-color: #43e477;
}
.progress.empty 
{
  background-color: #e3e3e3;
}

/* Listening */
.listening-section 
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.listening-section .listening-header 
{
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.listening-section .icon 
{
  font-size: 30px;
}
.speak-word-btn 
{
  width: 200px;
  height: 200px;
  border-radius: 0.5em;
  border: 5px solid #dadce0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-size: 30px;;
}
.speak-word-btn:hover 
{
  border: 7px solid #ccc;
}

.listening-content 
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.listening-content .listening-card 
{
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listening-card .listening-card-content
{
  display: flex;
  align-items: center;
  gap: 20px;
}
.listening-card input 
{
  padding: 20px 40px;
}
.listening-card .speak-word-btn
{
  margin: 20px 0;
}
.listening-explain 
{
  position: fixed;
  bottom: 20px;
  min-width: 300px;
  padding: 20px;
  border-radius: 0.5em;
}
.listening-explain .listening-answer {
  margin: 10px 0;
  font-size: 18px;
  user-select: none;
  text-decoration: underline;
}
.listening-explain .listening-answer:hover 
{
  cursor: pointer;
}
.listening-explain button 
{
  margin: 0;
  float: right;
}
.listening-explain .icon 
{
  font-size: 20px;
  margin-left: 5px;
}
.listening-explain h4
{
  text-align: center;
}
.listening-explain p 
{
  text-align: center;
  font-size: 20px;
}
.listening-explain.right 
{
  background-color: #43e477;
}
.listening-explain.wrong 
{
  background-color: #faa8a8;
}