@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.main 
{
  height: 100vh;
}
input, button
{
  padding: 10px;
  border-radius: 0.5em;
  background-color: #eee;
  outline:none;
  border: none;
  margin-bottom: 10px;
  display: block;
}
button 
{
  cursor: pointer;
  background-color: #333;
  color: #fff;
}
ul 
{
  padding: 10px;
}
.word-section li 
{
  width: 100%;
  list-style-type: none;
  color: #333;
  padding: 5px 20px;
  border-radius: 0.5em;
  margin-bottom: 10px;
  border: 1px solid #dadce0;
  position: relative;

  transition: 0.2s;

}
.word-section li 
{
  white-space: nowrap;
  overflow: hidden;
}
li:hover 
{
  cursor: pointer;
  background-color: #f5f5f5;
}
.show 
{
  display: block;
}
.word-section 
{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #fff;
}
.word-section ul
{
  max-height: 500px;
  overflow-y: auto;
}
.learn-section 
{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn-section > button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-list 
{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.card-list .card-number 
{
  margin: 20px 0;
}

.card-list .nav-btns
{
  margin-top: 20px;
  width: 200px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card-list .prev-btn
{
  position: absolute;
  left: 0;
}
.card-list .next-btn
{
  position: absolute;
  right: 0;
}
.card-list .next-btn.disabled,
.card-list .prev-btn.disabled 
{
  background-color: #555;
}
.card-list .next-btn.disabled:hover,
.card-list .prev-btn.disabled:hover 
{
  cursor: not-allowed;
  background-color: #555;
}
.card-list .prev-btn:hover, .card-list .next-btn:hover
{
  cursor: pointer;
  background-color: #444;
}


.card
{
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 0.5em;
  border: 1px solid #dadce0;
  margin: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card button 
{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card p 
{
  font-size: 30px;
}


.learnBtn 
{
  margin-top: 10px;
  background-color: #333;
  color: #fff;
}
.empty 
{
  padding: 30px 0;
  color: #aaa
}
.deleteBtn 
{
  font-size: 16px;
  color: red;
  background-color: #fff;
  border: 1px solid #dadce0;
  position: absolute;
  right: 10px;
  top: 10px;
}
.deleteBtn:hover 
{
  cursor: pointer;
  background-color: #f5f5f5;
}

.add-folder-btn 
{
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.create-folder-section
{
  position: relative;

  display: inline-block;
}
.create-folder-field
{
  position: absolute;
  top: 10px;
  left: 60px;
  padding: 10px 10px 0 10px;
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
  display: inline-block;
  border-radius: 0.5em;
}
.create-folder-field h3 
{
  margin-bottom: 10px;
}
.create-folder-field button 
{


}

.folder-list 
{
  display: inline-block;
  width: 300px;

  padding: 10px;
  display: flex;
  flex-direction: column;
}

.folder-list .folder 
{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 0.5em;
  border: 1px solid #dadce0;
  transition: 0.2s;
}
.folder-list .folder:hover 
{
  cursor: pointer;
  background-color: #f5f5f5;
}

.word-section-header 
{
  padding: 10px;
  box-shadow: 0 0 5px #ddd;
}
.word-section-header button 
{
  margin: 0;
}
.word-section-body
{
  width: 100%;
  display: flex;
}
.word-section-left, .word-section-right {
  width: 50%;
  height: 100vh;
  padding: 20px;
}
.word-section-left 
{
  border-right: 1px solid #ddd;
}
.word-section-left input 
{
  width: 100%;
}
.meaning-section 
{
  position: relative;
}
.meaning-list-section 
{
  position: absolute;
  top: 42px;
  border-radius: 0.5em;
  border: 1px solid #dadce0;
  width: 100%;
  background-color: #fff;
  padding: 5px;

  display: flex;
}
.meaning-list-section .meaning-list 
{
  background-color: #fff;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}
.meaning-list-section .meaning-list .meaning
{
  border: none;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-size: 18px;
  transition: none;
}
.meaning-list-section .meaning-list .meaning:hover 
{
  cursor: pointer;
  background-color: #dadce0;
}
.meaning-section .quit-meaning-list-btn
{
  background-color: #fff;
  color: #000;
  margin: 0 0 0 5px;
  /* padding: 5px; */
  display: inline-block;
  line-height: 30px;
  width: 30px;
  text-align: center;
}
.meaning-section .quit-meaning-list-btn:hover 
{
  cursor: pointer;
  background-color: #f5f5f5;
}

/* matching section */
.matching-section 
{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #fff;
}

.matching-list 
{
  display: flex;
  overflow-y: scroll;
  max-height: 500px;
}
.matching-list .matching-word 
{
  width: 300px;
  height: 300px;
  background-color: #fff; 
  border-radius: 0.5em;
  border: 1px solid #dadce0;
  margin: 0 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.matching-word.clicked
{
  background-color: #666;
  color: #ccc;
}
.matching-list .matching-word.clicked:hover 
{
  cursor: cursor;
  background-color: #444;
}
.matching-list .matching-word:hover 
{
  cursor: pointer;
  background-color: #f5f5f5;
}